

/* Large desktop */
@media (min-width: 1680px) and (max-width: 3000px) {
	.intro{
		background: url(../img/mac-bg-1200px.png) no-repeat top center scroll !important;
	}
	.container{
		width: 75% !important;
	}





.brand-heading{
	font-size: 60px;
	position: inherit;
	top: 10px;
}

	.intro-text-animation{
	font-size: 32px;
line-height: 73px;
	}

	.press-enter-text {
		font-size: 15px;
	}





		.container{
			width: 75% ;
		}


		body.intro{
			margin: 0 auto;
			background-color:white;
			color: black;
			size:30px;
			width: 100%;
			color:#000;
		}


		

		.brand-heading{
			font-family:"OCR A std";
			text-transform:none;
			font-weight: normal;
			text-align: inherit;
			font-size: 85px;
			display: inline;
			top: 10px;
		}
		.orange-2{
			color:#e44d26;
		}
		.intro-text{
			font-size: 30px;
			font-family:"OCR A std";
			color: white;
		}
		.intro-text-hidden {
			display: none;
			margin-top: 40px;
		}
		section .intro{
			text-align: -webkit-center;
		}
		.press-enter-text{
			margin-top: -20px;
			font-family: "OCR A std";
			color: #2D94C1;
			font-size: 30px;
		}
		h1{
			margin-top: 110px;
		}
		.light{font-weight: 600;
		font-size: 60px;
		margin-left: 360px;
		font-family: "OCR A std";
}





		.intro{
			height: 84%;
		}
		/*============  Typed cursor animation ==============*/
		#typed-cursor {
			display: none;
			opacity: 0;
			font-weight: 0;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			-ms-animation: blink 0.7s infinite;
			-o-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
		}
		@-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-webkit-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-moz-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-ms-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-o-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
			

		}




		.press-enter-text {
			opacity: 1;
			font-weight: 100;
			-webkit-animation: fadein 6s;
			-moz-animation: fadein 6s;
			-ms-animation: fadein 6s;
			-o-animation: fadein 6s;
			animation: fadein 6s ;
		}
		@-keyframes fadein{
			0% { opacity:0; }
			95% { opacity:0; }
			100% { opacity:1; }
		}

		@-webkit-keyframes fadein{
			0% { opacity:0; }
			95% { opacity:0; }
			100% { opacity:1; }	

		}
		@-moz-keyframes fadein{
			0% { opacity:0; }
			95% { opacity:0; }
			100% { opacity:1; }
		}
		@-ms-keyframes fadein{
			0% { opacity:0; }
			95% { opacity:0; }
			100% { opacity:1; }
		}
		@-o-keyframes fadein{
			0% { opacity:0; }
			95% { opacity:0; }
			100% { opacity:1; }
		}
		.text-left{
			text-align: left;
		}
		.text-right{
			text-align: right;
		}


		.main-body{
			width: 75%;
			margin: 0 auto;
			color: gray
		}
		p{
			font-size: 30px;
		}
		.main-images{
			margin-right: 160px;
			margin-top: 80px;
			margin-left: -40px;
			padding-bottom:90px;
		}
		.h1-text{
			float: left;
		}

		#bg-tom{
			width: 100%;
			height: 70%;
			background: url(../img/tom-learning-.png) no-repeat bottom center 
		}

		.intro-body {
			display: table-cell;
			vertical-align: top;
			padding-top: 250px;
		}
		.page-scroll{
			margin-bottom: 40px;
		}

	

		#mce-EMAIL {
			width: 404px;
			font-size: 20px;
			border: none;
			padding: 10px;
			padding-top: 3px;


		}

		#mc-embedded-subscribe {
			padding: 14px;
			opacity: 0.8;
			right: -428px;
			filter:alpha(opacity=40); /* For IE8 and earlier */
		}
		.logos{

		}
		p{
			color: black;
		}


		.contact-us{
			font-size: 30px;
line-height: 82px;

		}
		.map{
			border: 0;
			width: 666px;
			height: 230px;
		}
		.yoomee-logo{
		
		}
		.fa-twitter{
			color:#7EB3CD;
		}
		.fa-phone{
			color:green;
		}
		.fa-envelope-o{
			color:yellow;
		}
		.mail-chimp{
			right: 85px;
		}
		.navbar-brand{
			float: none;
			margin: none;

		}
		.tablet-map{
			display: none;
		} 
		.center-align-mobile p{
			text-align: left;
		}
		 .display-map{
        display: none;
    }



